@media screen and (max-width: 480px) {
    .nome{
        background:white;}
  }

.nome{
    background: black;
    align-items:center;
    justify-content:left;
    color: white;
    text-align: left;
    display: flex;
    width:60%;
    left:5%;
}

.profissao{
    background: black;
    align-items:center;
    justify-content:left;
    color: white;
    text-align: left;
    display: flex;
    width:60%;
    left:5%;
}

.obj{
    display:flexbox;
    align-items:left;
    justify-content:left;
    background:white;
    height: 16.3%;
    width: 45.4%;
    position:absolute;
    top: 12,5%;
    left: 0,5%;
}

.objetivo{
    font-style: italic;
}

#objetivo{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.exp{
    display:flex;
    align-items:left;
    justify-content:left;
    background: beige;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 29%;
    left: 0,5%;
}

.experiencia{
    font-style: italic;
}

#tabela1{
    margin: 2% 0% 0% -4%;
    text-align: center;
    background-color:beige;
    width: 120%;
    height: 20%;
}
.esc{
    display:flex;
    align-items:left;
    justify-content:left;
    background: white;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 49%;
    left: 0,5%;
}

.escolaridade{
    font-style: italic;
}

#tabela2{
    margin: 0% 0% 0% -9%;
    text-align: center;
    background-color:white;
    width: 120%;
    height: 20%;
}

.crs{
    display:flex;
    align-items:left;
    justify-content:left;
    background:beige;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 69%;
    left: 0,5%;
}

.cursos{
    font-style: italic;
}

#cursos{
    text-align: left;
}

.right{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background:grey;
    height: 117%;
    width: 14%;
    position:absolute;
    top: 12.7%;
    left: 45.85%;
}

#foto{
    width: 145px;
    height: 80%;
}

.cont{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background: pink;
    height: 0%;
    width: 21%;
    position:absolute;
    top: 90%;
    left: 0,5%;
}
.contato{
    font-style: italic;
}

#nome{
     margin: 1% 1%
}

#profissao{
    margin: 1% 1%
}

textarea{
    margin: 1px 0;
    width: 250px;
    height: 100px;
    background-color: darkgray;
}

#text1{
    background-color: darkgray;
}

#text2{
    background-color: darkgray;
}

.nome {
    text-align: center;
  }

  #nome {
    animation: color-change 1s infinite;
  }

  @keyframes color-change {
    0% {
      color: white;
    }
    50% {
      color: black;
    }
    100% {
      color: white;
    }
  }